input[type="name"]:disabled {
  background: #A1F517;
}

#fondo {
  background-color: #FFF2CC;
}

.texto{

	color: red;
}

.boton{
	height: 25px;
	width: 25px;
}

.checkbox{
	height: 25px;
	width: 25px;
}