.form-control:disabled {
  background: #C9D115;
  opacity: 0.9;
}

.form-select:disabled {
    background: #C9D115;
    opacity: 0.9;
}

#fondo {
  background-color: #FFF2CC;
}

.texto{

	color: red;
}

.boton{
	height: 25px;
	width: 25px;
	margin-right: 15px;
}

.checkbox{
	height: 25px;
	width: 25px;
	margin-right: 15px;
}